
.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #d1e5f0;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

path {
  stroke: darkgray;
  stroke-width: 0.25px;
  fill: lightgray;
}

body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1px;
}

.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 175px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: #b2182b;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    color: white;			
}

.ptooltip {
    position: absolute;
    width: 200px;
    height: 50px;
    pointer-events: none;
    border-radius: 8px;	
    background: #b2182b;
    color: white;	
    text-align:center;
  }
.tooltip_3pt {
    position: absolute;
    width: 200px;
    height: 60px;
    pointer-events: none;
    background: #b2182b;
    border-radius: 8px;	
    text-align: center;
    color: white;	
 }
p {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: 38%;
    float: left;
    font-size: 22px;
}

h1 {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    text-align: center;
    width: 30%;
    float: left;
    left: 0%;
    font-size: 26px;
}
#demo {
  display: block;
  color:black;
  font-weight: bold;
  font-size: 40px;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
#svg1 {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 50%;
}
#demo1 {
    width: 26%;
    left: 50%;
    margin: 0;
    margin-top: 5px;
    float: left;
}

#line {
	position: static;
    width: 50%; /*37% */
    left: 50%;
    margin: 0;
    float: left;
}
#possplot {
    width: 50%; /*37*/
    left: 50%;
    margin: 0;
    float: right;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.area {
  fill: lightsteelblue;
}

.circle {
    fill: steelblue;
  }

.header {
  padding: 10px 16px;
  background: #4393c3;
  color: white;
}

/* Page content */
.content {
  padding: 5px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}